name: Deploy to Github Pages

on:
  push:
    branches:
      - release
      - main

permissions:
  contents: write
  pages: write
  id-token: write
  
jobs:
  build:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
          
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          release_branches: 'release'
          default_bump: false
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set page url
        run: |
          REPO_NAME=$(echo $GITHUB_REPOSITORY | cut -d '/' -f 2)
          USER_NAME=$(echo $GITHUB_REPOSITORY | cut -d '/' -f 1)

          if [ $REPO_NAME = "$USER_NAME.github.io" ]; then
            PAGE_URL="https://$USER_NAME.github.io/"
          else
            PAGE_URL="https://$USER_NAME.github.io/$REPO_NAME/"
          fi

          echo "PAGE_URL=$PAGE_URL" >> $GITHUB_ENV

      - name: Checkout main
        uses: actions/checkout@v4
        with:
          ref: main
          submodules: 'recursive'
          clean: false
          fetch-depth: 0

      - name: Copy Beta Resources
        run: pnpm resources:rel --type beta

      - name: Build Beta
        run: pnpm build --configBaseURL $PAGE_URL --configBeta
      
      - name: Create Change Log and Page
        run: pnpm changelog && pnpm changelog:page

      - name: Checkout release
        uses: actions/checkout@v3
        with:
          ref: release
          submodules: 'recursive'
          clean: false
          fetch-depth: 0
  
      - name: Build
        run: pnpm build --configBaseURL $PAGE_URL

      - name: Copy Resources
        run: pnpm resources:rel

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'public'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4