name: Deploy Versioning Test

on:
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: "recursive"
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Bump version and push tag
        id: tag_version
        uses: anothrNick/github-tag-action@v1
        env:
          DRY_RUN: true
          WITH_V: true
          DEFAULT_BUMP: ${{ github.ref_name == 'release' && 'minor' || 'patch' }}
          RELEASE_BRANCHES: "release"
          PRERELEASE_SUFFIX: "beta"
          PRERELEASE: ${{ github.ref_name != 'release' }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
